.test{
  background-color: rgb(197, 196, 196);
}
#container1{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #e5ebef;
}
#container2{
  height: 100%;
  width: 100%;
  overflow: auto;
 
}
.show{
  display:block;
}
.hide{
  display:none;
  /* pointer-events:none; */
}

hr{
  color:black;
}
.gapDiv{
  height:100px;
}
/* .Design{
  font-family: sans-serif;
} */

.bold{
  font-weight:bold;
}
.button{
  background-color: #306087;
  color:#ffffff;
}
label{
  margin-right: 40px;
}
input[type="radio"] {
  margin-right: 2px;
}