.test{
  background-color: rgb(197, 196, 196);
}
#container1{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #e5ebef;
}
#container2{
  height: 100%;
  width: 100%;
  overflow: auto;
 
}
.show{
  display:block;
}
.hide{
  display:none;
  /* pointer-events:none; */
}

hr{
  color:black;
}
.gapDiv{
  height:100px;
}
/* .Design{
  font-family: sans-serif;
} */

.bold{
  font-weight:bold;
}
.button{
  background-color: #306087;
  color:#ffffff;
}
label{
  margin-right: 40px;
}
/* .......................... */
.boxSize1{

  width:55%;
}
.boxSize2{
  
  width:45%;
  overflow-wrap: break-word;
}
/* .box{
  overflow-wrap: break-word;
  word-break: break-all
} */
@media only screen and (max-width: 1564px) {
  .boxSize1{
    display: inline-block;
  }
  .row{
    text-align: center;
  }
  .boxSize2{
    width:40%;
    /* overflow-wrap: break-word;   */
  }
}

@media only screen and (max-width: 1460px) {
  .boxSize1{
    display: inline-block;
    width:100%
  }
  /* .row{
    text-align: center;
  } */
  .boxSize2{
    width:100%;
    /* display: inline-block; */
  }
  .form-control{
    width:70%;
    display:inline-block;
  }
}
input[type="radio"] {
  margin-right: 2px;
}
.align{
  margin-left: 10px;
}